<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Primera opción</h2>
    <a class="btn btn-warning" href="{{url_for('bp_ricky.index')}}"
      >Listado de datos</a
    >
    <h2>Segunda opción</h2>
    <p>cargar e insertar datos en MongoDB</p>
    <a class="btn btn-warning" href="{{ url_for('bp_ricky.store_ricky') }}"
      >Cargar datos</a
    >
  </body>
</html>
